@import "~normalize.css";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.root {
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}